img {
  border-radius: 20px;
}
td
{
  padding: 15px;
}
#Body
{
  text-align: center;
  border: 1px solid white;
}
#Header {
  background-color: black;
  color: white;
}

#Soul {
  background-color: #ffa500;
}
#Time {
  background-color: #228b22;
}
#Space {
  background-color: #005892;
}
#Mind {
  background-color: #ffff03;
}
#Reality {
  background-color: #c12a2f;
}
#Power {
  background-color: #dda0dd;
}
