<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Join or Create Room</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/room.css">
</head>
<body>
  <div class="background-wrapper">
    <img src="/image/background.jpg" alt="background" class="background-img">
  </div>

  <div class="contentSettings">
   <div class="room-container">
  <h2  class="leader-title">🎮 Join or Create a Room</h2>

  <input id="room-input" placeholder="Enter room ID..." />

  <div class="button-group">
    <button id="create-btn">🆕 Create Room</button>
    <button id="join-btn">🔗 Join Room</button>
     <a href="/home" class="playBut">Quit</a>
  </div>
</div>
  </div>
  <script src="/scripts/room.js" defer></script>
  <script src="/scripts/registerAudio.js"></script>
</body>
</html>
