.circle {
    width: 100vw;
    margin: 150px auto;
}

.ball
{
    height: 300px;
    width: 300px;
    border: 1px solid #006600;
    border-radius: 50%;
    background: green;
    float: left;
    transition: background-color 2s ease, border 2s ease;
    animation: shake 5s linear infinite;
}

.ball:hover
{
    background: red;
    border: 1px solid #cc0000;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(100vw - 320px));
    }
    100% {
        transform: translateX(0);
    }
}