<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>S.W.O.R.D.</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1>Register as S.W.O.R.D. Agent</h1>
<form id="registerForm" action="/register" method="post">
    <input name="login" placeholder="Login" required><br>
    <input name="password" type="password" placeholder="Password" required><br>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required /><br>
    <input type="text" name="full_name" placeholder="Full Name" required /><br>
    <input name="email" type="email" placeholder="Email" required><br>
    <button type="submit">Register</button>
</form>

<a href="/login" class="miniBut">Back to login</a>

<p id="message"></p>

<script>
    const params = new URLSearchParams(window.location.search);
    const error = params.get('error');
    if (error) {
        document.getElementById('message').textContent = decodeURIComponent(error);
        document.getElementById('message').style.color = 'firebrick';
    }
</script>

</body>
</html>
